[Desktop Entry]
Encoding=UTF-8
Name=Solidar Core
Comment=Connect to the Solidar P2P Network
Comment[de]=Verbinde mit dem Solidar peer-to-peer Netzwerk
Comment[fr]=Solidar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Solidar, eşten eşe kriptografik sanal para birimi
Exec=solidar-qt %u
Terminal=false
Type=Application
Icon=solidar128
MimeType=x-scheme-handler/solidar;
Categories=Office;Finance;
