policy_module(solidar, 1.100.1)

########################################
#
# Declarations
#

type solidar_t;
type solidar_exec_t;
init_daemon_domain(solidar_t, solidar_exec_t)

permissive solidar_t;

type solidar_initrc_exec_t;
init_script_file(solidar_initrc_exec_t)

type solidar_conf_t;
files_type(solidar_conf_t)

type solidar_var_lib_t;
files_type(solidar_var_lib_t)

type solidar_var_run_t;
files_type(solidar_var_run_t)

type solidar_port_t;
corenet_port(solidar_port_t)

########################################
#
# solidar local policy
#
allow solidar_t self:process { fork };

allow solidar_t self:fifo_file rw_fifo_file_perms;
allow solidar_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(solidar_t, solidar_conf_t, solidar_conf_t)
manage_files_pattern(solidar_t, solidar_conf_t, solidar_conf_t)

manage_dirs_pattern(solidar_t, solidar_var_lib_t, solidar_var_lib_t)
manage_files_pattern(solidar_t, solidar_var_lib_t, solidar_var_lib_t)
files_var_lib_filetrans(solidar_t, solidar_var_lib_t, { dir file })

manage_dirs_pattern(solidar_t, solidar_var_run_t, solidar_var_run_t)
manage_files_pattern(solidar_t, solidar_var_run_t, solidar_var_run_t)

sysnet_dns_name_resolve(solidar_t)
corenet_all_recvfrom_unlabeled(solidar_t)

allow solidar_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(solidar_t)
corenet_tcp_sendrecv_generic_node(solidar_t)
corenet_tcp_sendrecv_all_ports(solidar_t)
corenet_tcp_bind_generic_node(solidar_t)

gen_require(`
    type solidar_port_t;
')
allow solidar_t solidar_port_t:tcp_socket name_bind;

gen_require(`
    type solidar_port_t;
')
allow solidar_t solidar_port_t:tcp_socket name_connect;

domain_use_interactive_fds(solidar_t)

files_read_etc_files(solidar_t)

miscfiles_read_localization(solidar_t)

sysnet_dns_name_resolve(solidar_t)

allow solidar_t solidar_exec_t:file execute_no_trans;
allow solidar_t self:process setsched;
corecmd_exec_ls(solidar_t)
corenet_tcp_connect_http_port(solidar_t)
dev_read_urand(solidar_t)
fs_getattr_xattr_fs(solidar_t)
kernel_read_system_state(solidar_t)
