
## <summary>policy for solidar</summary>


########################################
## <summary>
##	Transition to solidar.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`solidar_domtrans',`
	gen_require(`
		type solidar_t, solidar_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, solidar_exec_t, solidar_t)
')


########################################
## <summary>
##	Execute solidar server in the solidar domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`solidar_initrc_domtrans',`
	gen_require(`
		type solidar_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, solidar_initrc_exec_t)
')


########################################
## <summary>
##	Search solidar lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`solidar_search_lib',`
	gen_require(`
		type solidar_var_lib_t;
	')

	allow $1 solidar_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read solidar lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`solidar_read_lib_files',`
	gen_require(`
		type solidar_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, solidar_var_lib_t, solidar_var_lib_t)
')

########################################
## <summary>
##	Manage solidar lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`solidar_manage_lib_files',`
	gen_require(`
		type solidar_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, solidar_var_lib_t, solidar_var_lib_t)
')

########################################
## <summary>
##	Manage solidar lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`solidar_manage_lib_dirs',`
	gen_require(`
		type solidar_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, solidar_var_lib_t, solidar_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a solidar environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`solidar_admin',`
	gen_require(`
		type solidar_t;
		type solidar_initrc_exec_t;
		type solidar_var_lib_t;
	')

	allow $1 solidar_t:process { ptrace signal_perms };
	ps_process_pattern($1, solidar_t)

	solidar_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 solidar_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, solidar_var_lib_t)

')

